.pluggedin-icon {
    color: black;
}

.login-form,
.register-form,
.search-container,
.profile-container {
    margin-top: 40px;
}

.login-btn {
    padding-bottom: 40px;
    text-decoration: none;
    color: white;
}

.login-btn:hover {
    text-decoration: none;
    color: white;
}

.user-select {
    height: 50px;
    margin-bottom: 20px;
}

.profile-container,
.register-container {
    margin-top: 40px;
}


.artist-list,
.tours-list,
.venue-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logout-btn {
    margin-bottom: 40px;
}
